<section class="about-container">
    <div class="about-content">
        <h1>Sobre Nosotros</h1>
        <p>
            Somos <strong>Anthony Moya</strong> y <strong>Jorge Lituma</strong>, un equipo de profesionales
            enfocados en crear soluciones innovadoras para el ámbito de la salud. Hemos desarrollado una
            aplicación avanzada basada en un modelo entrenado utilizando la arquitectura <strong>VGG16</strong>
            y <strong>Transfer Learning</strong> para predecir si un paciente está en riesgo de desarrollar
            Alzheimer, con el objetivo de prevenir la demencia a tiempo.
        </p>
        <p>
            Utilizamos más de <strong>30,000 imágenes médicas</strong> para entrenar nuestro modelo, que fue
            guardado en formato <strong>.h5</strong>. Para las predicciones de imágenes entrantes, implementamos
            un servidor backend en <strong>Django</strong>, lo que nos permite hacer análisis rápidos y efectivos.
        </p>
        <p>
            Además, integramos una herramienta llamada <strong>Gradiente Integrado</strong> para interpretar y
            visualizar las regiones de interés dentro de las imágenes, brindando así a los médicos una visión más
            clara y comprensible de los resultados.
        </p>
        <p>
            En la actualidad, nuestra aplicación está construida sobre <strong>Angular</strong>, ofreciendo una
            interfaz de usuario moderna y amigable, especialmente diseñada para médicos y profesionales de la salud.
            Nuestro objetivo es proporcionarles las herramientas necesarias para detectar enfermedades cerebrales
            como Alzheimer y prevenir su evolución a una etapa más avanzada.
        </p>
    </div>
</section>
