<main class="main-content">
    <section class="intro-section">
        <h1>NeuroPredict</h1>
        <p>
            Bienvenido a NeuroPredict, la herramienta avanzada que utiliza inteligencia artificial para analizar resonancias magnéticas cerebrales y predecir riesgos de Alzheimer. 
            Nuestro objetivo es facilitar diagnósticos tempranos y mejorar la calidad de vida de los pacientes.
        </p>
        <div class="cta-buttons">
            <a routerLink="/login" class="btn-primary">Iniciar Sesión</a>
            <a routerLink="/about" class="btn-secondary">Conoce Más</a>
        </div>
    </section>

    <section class="features-section">
        <h2>¿Cómo Funciona?</h2>
        <div class="features-grid">
            <div class="feature-item">
                <img src="assets/imgs/human-brain.png" alt="MRI Analysis">
                <h3>Análisis de MRI</h3>
                <p>
                    Procesamos imágenes cerebrales con algoritmos avanzados para detectar patrones relacionados con el Alzheimer.
                </p>
            </div>
            <div class="feature-item">
                <img src="assets/imgs/artificial-intelligence.png" alt="AI Technology">
                <h3>Tecnología IA</h3>
                <p>
                    Nuestra inteligencia artificial está entrenada para identificar anomalías y generar reportes precisos.
                </p>
            </div>
            <div class="feature-item">
                <img src="/assets/imgs/protection.png" alt="Prevention">
                <h3>Prevención Personalizada</h3>
                <p>
                    Ofrecemos recomendaciones y estrategias para prevenir el avance del Alzheimer basadas en los resultados.
                </p>
            </div>
        </div>
    </section>

    <section class="cta-section">
        <h2>¡Empieza hoy!</h2>
        <p>Regístrate y accede a nuestras herramientas para cuidar tu salud.</p>
        <a routerLink="/register" class="btn-primary">Regístrate Ahora</a>
    </section>
</main>
