<footer class="global-footer-container">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/assets/imgs/OIP-removebg-preview.png" alt="logo" />
            <p>Cuidando tu salud con tecnología de vanguardia.</p>
        </div>
        <div class="footer-links">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/services">Services</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h4>Contáctanos</h4>
            <p>Email: infomedicalapp.com</p>
            <p>Teléfono: +123 456 7890</p>
            <p>Dirección: Av. Salud 123, Ciudad Médica</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 MedicalApp. Todos los derechos reservados.</p>
    </div>
</footer>
